body {
  font-family: system-ui, sans-serif;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}
#map {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}