body {
font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  color: #222;
}
#map {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;             
  pointer-events: none;
}

.mapboxgl-control-container {
  z-index: 2;
}