html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background: #f9fafb;
}

#map {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  pointer-events: none;
}