html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background: #f9fafb;
}

#map {
  width: 95%;                       
  height: calc(100vh - 100px);      
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;              
}

#map svg {
  position: absolute;             
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;                   
  pointer-events: none;           
}