html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none; /* Allow map to be interactive */
}

.mapboxgl-canvas {
  position: absolute !important;
  top: 0;
  left: 0;
}